* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",
    sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.body::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url(mainback2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

:root {
  --main-color: #000;
}

/* ------------------------------------------------------------------ */

.wrapper {
  position: relative;
  max-width: 470px;
  width: 100%;
  height: 600px;
  border-radius: 12px;
  padding: 50px 30px;
  background: #6b6a6a42;
  box-shadow: 0 0 5px var(--main-color);
  overflow: hidden;
  z-index: 2341;
}

.wrapper:before {
  content: '';
  position: absolute;
  inset: 0;
  background: #6b6a6a42;
  filter: blur(-2px);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.login{
  width: 100%;
}
.login .input{
  position: relative;
  width: 100%;
}

/* .login form span{
  position: absolute;
  left: 2%;
  top: 20%;
  padding: 10px;
  pointer-events: none;
  color: #8e8c8c;
  transition: 0.5s;
}
.login form input:valid ~ span,
.login form input:focus ~ span
{
  color: var(--main-color);
  transform: translateX(10px) translateY(-40px);
  padding: 5px 10px;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
}
.login form input:valid,
.login form input:focus{
  border: 2px solid var(--main-color);
}

.login form {
  transform: translateY(20%);
} */

.login form input {
  position: relative;
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-color);
  border-radius: 8px;
  background: #fff;
  caret-color: var(--main-color);
}

/* .signup form input {
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-color);
  border-radius: 8px;
  background: #fff;
  caret-color: var(--main-color);
  border: 2px solid var(--main-color);
  outline: 2px solid #fff;
  box-shadow: 0 0 15px #fff;
  transition: .5s;
} */


.form form p {
  position: relative;
  top: 15px;
  font-weight: 600;
  color: #ef3030;
}



.form.login input {
  border: 2px solid var(--main-color);
  outline: 2px solid #fff;
  box-shadow: 0 0 15px #fff;

}

.form .loghead {
  color: #000;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
  filter: drop-shadow(0px 0px 2px #fff);
  margin-bottom:60px;
}


form a {
  color: #333;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}


form .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

form #logbtn {

  background: #000;
  color: #fff;
  box-shadow: 0 0 30px #fff;
  font-size: 25px;
  font-weight: 600;
  width: 150%;
  transition: .5s;
  cursor: pointer;
}

form #logbtn:hover {
  background: var(--main-color);
  color: #fff;
  border: 2px solid #fff;
  outline: 2px solid var(--main-color);

}

form #backbtn {
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  outline: 2px solid #000;
  border: 2px solid #fff;
  transition: 0.5s;
}

form #backbtn:hover {
  border: 2px solid #000;
  outline: 2px solid #fff;
}






/* ------------------------------------------------------------------- */
/* ----------------------------RESPONSIVE--------------------------------- */
/* ------------------------------------------------------------------- */

@media (max-width:767px) {

  .wrapper {
    width: 95%;
    height: 550px;
  }

  .login form {
    transform: translateY(10%);
  }

  form #logbtn {
    width: 75%;
  }


  form #backbtn {
    width: 150px;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    outline: 2px solid #000;
    border: 2px solid #fff;
    transition: 0.5s;
  }

  form #backbtn:hover {
    border: 2px solid #000;
    outline: 2px solid #fff;
  }

}